{% extends "Mail/baseCandidate.html.twig" %}

{% block content %}
    You account has been updated
    <p style="text-decoration:underline;color:blue;">
        {{ data.host }}
    </p>

{% endblock %}
