{% extends "Mail/basePartner.html.twig" %}

{% block content %}
	<p class="mail-paragraph2" style="padding-top: 20px">
		<span style="font-weight:bold;font-size:32px;">Verify your jobzioo account</span>
		<br/><br/>
	</p>
	<b>Please verify your account</b>

	<p>Please verify your registration for
		{{data.mail}}
		by clicking the link below</p>
	<br>
	<p>
		<a href="{{ data.host }}" style="text-decoration:underline;">
			<b>Verify Account</b>
		</a>
	</p>
	<p style="text-decoration:underline;color:blue;">
		{{ data.host }}
	</p>

{% endblock %}
